*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1300px;
    padding: 0 50px;
    margin: 0 auto;
}
a{
    text-decoration: none;
    color: #fff;
}
li{
    list-style: none;
}
.header_section {
    background-color: #87565B;
}
.header_section .header_logo img{
    width: 100%;
}
.header_section .flex_column{
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}
.header_section .header_menu li{
     display: inline;
     padding-right: 15px;
}
.header_section .header_input input{
     width: 30%;
     padding: 6px 0 6px 10px;
     background-color: #9D9F99;
     border: none; 
     border-radius: 5%;
     text-align: center;
}
.header_section .header_input i{
    color: #Ffff;
    padding-right: 10px;
    padding-left: 10px;
}
.header_section .header_input{
    text-align: end;
}
/* End header_section */

.banner_section{
    background-image: url(../image/Group\ 2520.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}
.banner_section .flex_column{
    display: flex;
    justify-content: space-between;
    padding-top: 300px;
    padding-bottom: 50px;
}
.banner_section .banner_heading button:hover{
    background-color: #7F7767;
    color: #04161A;
    cursor: pointer;
    transition: .4s;
}
.banner_section .banner_heading button{
    padding: 8px 12px;
    background-color: #87565B;
    border: none;
    border-radius: 2px;
    margin-top: 15px;
    color: #fff;
}
.banner_section .banner_heading h1{
    color: #fff;
    font-size: 42px;
    padding-right: 340px;
}
.banner_section .banner_video{
    padding-top: 70px;
}
.banner_section .banner_video span{
      color: #fff;
      padding-left: 10px;
}
/* End banner section  */

.product_section .product_heading{
    padding-top: 120px;
    padding-bottom: 50px;
    color: #87565B;
    display: flex;
    justify-content: space-between;
    font-size: 28px;
}
.product_section .product_heading p{
    border-bottom: 1px solid #87565B;
  
}
.product_section .flex_column{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 30px;
}
.product_section .flex_column .product_img img{
    width: 100%;
}
.product_section .flex_column .main_column{
    background-color: #F8F5EF;
    padding: 50px 40px;
}
.product_section .main_column .product_rate{
    padding-top: 10px;
    color: #87565B;
}
.product_section del{
    color:#DEDCD7;
    padding-left: 10px;
}
.product_img{ 
    /* position: relative; */
}
 .product_section .main_column{
    position: relative;
}

.product_section .product_discound{
    position: absolute;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #87565B;
    text-align: center;
    top: 30px;
    right: 25px;
    font-size: 14px;
    padding-top: 10px;
    color: #fff;
}
/* End product section  */

.gode_grunner_section{
    background-color: #F8F5EF;
}
.gode_grunner_section .gode_grunner_img img{
    width: 28%;
    margin-bottom: 50px;
}
.gode_grunner_section .flex_column{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0px 191px;
    align-items: center;
    column-gap: 70px;
    padding-bottom: 50px;
}
.gode_grunner_section .gode_grunner_item{
    text-align: center;
    margin-bottom: 20px;
}
.gode_grunner_section .gode_grunner_heading{
    text-align: center;
    margin-top: 130px;
    padding-top: 50px;

}
.gode_grunner_section .gode_grunner_heading p{
    margin-bottom: 20px;
    font-size: 20px;
}
.gode_grunner_section .gode_grunner_heading h1{
    margin-bottom: 50px;
    font-size: 32px;
    padding: 0px 342px;
    color: #87565B;
}
/* End gode grunner section  */

/* .bønder_section{
    margin: 150px 0;
} */
.bønder_section .farmer{
    display: flex;
    gap: 40px;
}

.bønder_section .farmer .desc {
    padding-top: 100px;
    padding-right: 340px;
}
.bønder_section .farmer .desc h3{
    font-size: 40px;
    color: #87565B;
}
.bønder_section .farmer .desc p{
    padding: 10px 0px;
    font-size: 17px;
    color: #333333;
}
.bønder_section .farmer .desc button{
    font-size: 17px;
    border: 1px solid;
}
.bønder_section .Kristoffer .farmer{
    position: relative;
    top: 50px;
}
.bønder_section .Kristoffer{
    position: relative;
}
.bønder_section .article{
    display: flex;
    gap: 40px;
    align-items: end;
}
.bønder_section .article .desc {
    padding-bottom: 100px;
    padding-left: 340px; 
    text-align: end;
}
.bønder_section .article .desc h3{
    font-size: 40px;
    color: #87565B;
}
.bønder_section .article .desc p{
    padding: 10px 0px;
    font-size: 17px;
    color: #333333;
}
.bønder_section .article .desc span{
    font-size: 17px;
    border-bottom: 1px solid #87565B; 
}
.bønder_section .article .desc span{
    font-size: 17px;
    border-bottom: 1px solid #87565B; 
}
/* End artikkel tittel section */

.god_mat_section{
    margin-bottom: 200px;
}
.god_mat_section .main_img{
     position: relative;
}
.god_mat_section .img_title{
    position: absolute;
    bottom: 10px;
    left: 10px;
}
.god_mat_section .img_title h3{
    color: #fff;
    margin-bottom: 5px;
    background-color:#04161A;
    transform: translate();
}
.god_mat_section .img_title span{
    color: #ffff;
}
.god_mat_section .flex_column{
    display: grid;grid-template-columns: 1fr 1fr 1fr;
    column-gap: 35px;
}
.god_mat_section .god_mat_heading{
    padding-top: 120px;
    padding-bottom: 50px;
    color: #87565B;
    display: flex;
    justify-content: space-between;
    font-size: 28px;
}
.god_mat_section .god_mat_heading p{
    border-bottom: 1px solid #87565B;
  
}
/* End god mat section */
img{
    width: 100%;
}
.footer_top_section{
    background-color: #87565B;
    column-gap: 0;
}
.footer_top_section .flex_column{
    display: flex;
    justify-content: space-between;
    /* row-gap: 200px; */
}
.footer_top_section .main_column{
    margin-top: 100px;
}
.footer_top_section .main_img{
    display: flex;
    column-gap: 30px;
    margin-bottom: 51px;
}
.footer_top_section .main_column .main_img img{
    height: 100%
}
.footer_top_section .main_column p{
    color: #fff;
    padding-top: 10px;
}
.footer_top_section .main_column h3{
    color: #fff;
    padding-top: 10px;
}
.footer_top_section .main_column i{
    font-size: 50px;
    color: #ddd;
    padding-left: 8px;
}
/* End footer section  */

.footer_botton_section{
    background-color: #333333;
    padding: 50px 0;
}
.footer_botton_section .footer_img{
    width: 50%;
    display: flex;
    justify-content: space-between;
    column-gap: 25px;
}
.footer_botton_section .flex_column{
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr; */
    display: flex;
    justify-content: space-between;
}
.footer_botton_section .main_column li{
    padding-bottom: 8px;
}
.footer_botton_section .main_column a{
   border-bottom:  1px solid #fff;
}
.footer_botton_section .main_column span{
   border-bottom: 1px solid #fff;
}
.footer_botton_section .main_column p{
    color: #fff;
}


